export NETERO_VERSION="$(cargo pkgid | sed 's/.*#//')"

export OLLAMA_API_KEY=
export OLLAMA_MODEL="qwen:0.5b"
export OLLAMA_URL="http://localhost:11434/v1/chat/completions"


export OPENROUTER_API_KEY="$(pass api/openrouter)"
export OPENROUTER_MODEL="openrouter/free"
export OPENROUTER_URL="https://openrouter.ai/api/v1/chat/completions"

#export NETERO_API_KEY=$OPENROUTER_API_KEY
#export NETERO_MODEL=$OPENROUTER_MODEL
#export NETERO_URL=$OPENROUTER_URL

export NETERO_API_KEY=$OLLAMA_API_KEY
export NETERO_MODEL=$OLLAMA_MODEL
export NETERO_URL=$OLLAMA_URL


